appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
asciimatics @ file:///home/conda/feedstock_root/build_artifacts/asciimatics_1682095237214/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
bcrypt @ file:///Users/runner/miniforge3/conda-bld/bcrypt_1666831377627/work
bidict @ file:///home/conda/feedstock_root/build_artifacts/bidict_1672544422229/work
bladerf @ file:///home/conda/feedstock_root/build_artifacts/bladerf-split_1676502151514/work/host/libraries/libbladeRF_bindings/python
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1677499911949/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1687884292427/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi==2023.7.22
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179893800/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1689751945043/work
click-plugins==1.1.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.1.4
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1690387761175/work
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1669907009957/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1685101166527/work
construct @ file:///home/conda/feedstock_root/build_artifacts/construct_1647473122183/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1686733985009/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1689056134643/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
digital-rf==2.6.8
exceptiongroup==1.1.3
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1682966527207/work
Flask-SocketIO @ file:///home/conda/feedstock_root/build_artifacts/flask-socketio_1683118950269/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1689965521694/work
fs @ file:///home/conda/feedstock_root/build_artifacts/fs_1683650158618/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
gevent @ file:///Users/runner/miniforge3/conda-bld/gevent_1668293592477/work
gevent-websocket==0.10.1
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1684083176615/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1687828137968/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1689017639396/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1685727999785/work
ipywidgets==8.1.0
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1632759296524/work
jsonpointer==2.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1689687135513/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1689701150890/work
jupyterlab-widgets==3.0.8
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805765141/work
libm2k==0.7.0
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1689261499435/work/libmambapy
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1688564837095/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1668568582731/work
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1689261499435/work/mamba
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1685769224421/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1688684919187/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1688887113898/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1688740646538/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1685074311662/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1688255970033/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1689538620473/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1687776318736/work
ply==3.11
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyadi-iio @ file:///home/conda/feedstock_root/build_artifacts/pyadi-iio_1681499020354/work
pycairo==1.24.0
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1666836623787/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyfiglet==0.8.post1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
PyGObject==3.44.1
pylibiio @ file:///home/conda/feedstock_root/build_artifacts/libiio-split_1684412513903/work/bindings/python/build
PyNaCl @ file:///Users/runner/miniforge3/conda-bld/pynacl_1666862683901/work
PyOpenGL @ file:///home/conda/feedstock_root/build_artifacts/pyopengl_1652285526610/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5-sip==12.12.2
pyqtgraph @ file:///home/conda/feedstock_root/build_artifacts/pyqtgraph_1681515130263/work
pyquizjp @ git+https://github.com/recklessop/pyquizjp.git@548775c9ddc7619655ce650f63a1322389c2a952
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-engineio @ file:///home/conda/feedstock_root/build_artifacts/python-engineio_1688653634607/work
python-socketio @ file:///home/conda/feedstock_root/build_artifacts/python-socketio_1679018310754/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772543719/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1685519412652/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1689701127998/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1689705286341/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1686993977949/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1670412881259/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1687995683984/work/base/dist/scipy-1.11.1-cp310-cp310-macosx_11_0_arm64.whl#sha256=1829d24425cddef267d238c280f08bc82d92888d1114ba7ff17343b4b0a95618
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1690236212230/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1684150425472/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239979860/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1689789803562/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1679333266232/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1686273693854/work
widgetsnbextension==4.0.8
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1687705558811/work
zope.interface @ file:///Users/runner/miniforge3/conda-bld/zope.interface_1679047068909/work
zstandard==0.19.0
